
.form-contato {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.desc-form-contato {
  font-size: 2.5rem;
  color: #666;
}

.subdesc-form-contato {
  font-size: 1.6rem;
  color: #999;
  margin: -2rem 0 3rem 0;
}

.form-contato label {
  font-size: 1.6rem;
  color: #666;
  margin: 0 0 1rem 0;
}

.form-contato input, select, option, textarea {
  width: 100%;
  height: 4.6rem;
  border: 1px solid #ccc;
  padding: 0 1.6rem;
  color: #666;
  margin: 0 0 1rem 0;
  font-size: 1.4rem;
}

::-webkit-input-placeholder { color: #666 }
:-moz-placeholder { color: #666 }
::-moz-placeholder { color: #666 }
:-ms-input-placeholder { color: #666 }

.form-contato textarea {
  height: 10rem;
}

.form-contato input[type=submit] {
  background: #333;
  color: #ddd;
  transition: background .7s, color .7s;
}

.form-contato input[type=submit]:active,
.form-contato input[type=submit]:hover {
  background: #444;
  cursor: pointer;
  color: #eee;
}

.obrigatorio {
  color: darkred;
  font-size: 1.2rem;
}

textarea {
  padding: 2rem;
}